<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mateuszcholyn.wallet">

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".config.ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SimpleNavigation"
            android:exported="false"
            android:label="@string/title_activity_simple_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SummaryActivity"
            android:exported="false" />
        <activity android:name=".view.moneysaver.MoneySaverActivity" />
        <activity
            android:name=".view.expense.AverageExpenseActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.expense.ExpenseHistoryActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.category.CategoryActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.expense.AddExpenseActivityBinding"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DisplayMessageActivity"
            android:parentActivityName=".view.MainActivity" />
    </application>

</manifest>